.zoteroTitle { font-size: 14px; display: block; }
.zoteroAuthors { color: #555; font-size: 13px; }
.zoteroCitekey {
  color: #555; font-size: 13px; font-family: monospace;
  display: inline-block; margin-right: 5px; padding-right: 5px;
  border-right: 1px solid #ccc;
}
